@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

input, button {
  font-size: 1.2em;
  padding: 1.2em  ;
  border-radius: 1em;
  border: 1px solid hsla(160, 100%, 37%, .5);
  background: transparent;
}
input {
  border-radius: 1em 0 0 1em;
}
button {
  background: hsla(160, 100%, 37%, 1);
  cursor: pointer;
}
input + button {
  border-radius: 0 1em 1em 0;
}

.buttonList {
  padding: 0;
}
.buttonList li {
  list-style: none;
}
.buttonList button {
  min-width: 20em;
}
.buttonList button {
  border-radius: 0;
}
.buttonList li:first-child button {
  border-radius: 1em 1em 0 0;
}
.buttonList li:last-child button {
  border-radius: 0 0 1em 1em;
}
